* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

body {
  background: #282a36;
}

.main-index {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  max-width: 800px;
  margin: auto auto;
  align-items: center;
}

.main-index aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-index aside h1 {
  color: #8be9fd;
  margin-bottom: 16px;
}

.main-index aside p {
  color: #bd93f9;
}

.select-state {
  display: flex;
  flex-direction: column;
}

a {
  background-color: #8be9fd;
  color: #9859f0;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 8px;
  transition: background 0.5s;
}

a:hover {
  background-color: #9859f0;
  color: #8be9fd;
}

select {
  margin-bottom: 20px;
}