* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
} 
 
body {
   background: #fff;
   font-family: 'Roboto', sans-serif;
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
}

header {
  display: flex;
  justify-content: space-between;

  margin: 10px 60px;
}

header i {
  font-size: 30px;
  font-weight: bold;
  color: #D6000D;
}

header i span{
  color: #000;
}

header section a{
  text-decoration: none;
  color: #000;
}

header section a + a{
  margin-left: 15px;
}

header section button {
  align-self: center;
  justify-content: center;
  margin-left: 15px;
  background: #D6000D;
  color: #fff;
  font-weight: bold;
  padding: 0px 10px;
  width: 100px;
  height: 32px;
  border-radius: 8px;
  transition: background 0.5s;
}

header section button:hover {
  background: #991921;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.parte-superior {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.parte-superior img {
  width: 400px;
  height: 400px;
}

.info-superior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 20px;
}

.info-superior span {
  font-weight: bold;
}
.info-superior strong{
  color: #D6000D;
  font-size: 48px;
  margin-top: 8px;
}

.info-superior button {
  justify-content: center;
  margin-top: 20px;
  background: #D6000D;
  color: #fff;
  font-weight: bold;
  padding: 0px 10px;
  width: 260px;
  height: 32px;
  border-radius: 8px;
  transition: background 0.5s;
}
.info-superior button:hover {
  background: #991921;
}