html
  head  
    title casos de corona
    style
      include ../public/styles.css
  body
    main(class="main-index")
      aside 
        h1 Confirmados no #{country} :/
        p #{confirmed} casos!

      aside
        h1 Mortes no #{country} :/
        p #{deaths} mortes!

      a(href='/state', target='') casos por estado
        